body
{
    /* background-color: #c5e3ed; */
    background: linear-gradient(45deg, #ff6363, #30bfbf);
    background-image: url('https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: repeat;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#bgMusic
{
    display: none;
}

.preloader
{
    width: 100vw;
    height: 100vh;
    background-color: #c5e3ed;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 2;
}

.preloader.hidden {
    opacity: 0;
}

.heartbeat
{
    animation: heartbeat 1s infinite;
    font-size: 40px;
    color: #3498db;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.card
{
    /* border: 2px solid #333; */
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover
{
    transform: scale(1.05);
}

.card-content
{
    display: none;
}

.card-content img
{
    width: 100%;
    /* max-width: 100%;
    height: auto; */
    border-radius: 8px;
}

.card-content p
{
    margin: 0;
    /* white-space: nowrap; */
    overflow: hidden;
    font-size: 18px;
}

.card-content p.typing 
{
    animation: typing 1.5s steps(20,end);
}

@keyframes typing 
{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.click-open
{
    font-size: 3rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

.card.open .card-content
{
    display: block;
} 

.card.open .click-open
{
    display: none;
} 

.floating-image 
{
    max-width: 100px;
    max-height: 100px;
    position: fixed;
    animation: floatAnimation infinite linear;
    z-index: -1;
}

@keyframes floatAnimation {
   0%, 100% {
    transform: translate(0, 0);
   }
   25% {
    transform: translate(20px, 20px);
   }
   50% {
    transform: translate(40px, 0);
   }
   75% {
    transform: translate(20px, -20px);
   }
}

